/*Selector uniersal  */
* {
   padding: 0 auto;
   margin: 0 auto;
}

/*selector de id*/

#contenedor {
   width: 1200px;
   height: 1000px;
   background-color: rgb(138, 103, 103);
   background-color: #ffffff;
   max-width: 0 auto;
   border-radius: 10px;



}

#Encabezado {
   height: 15%;
   background-color: #E6ECF2;
   color: rgb(2, 9, 39);
   text-align: center;
   font-size: 35px;
   margin: 1em auto;
   border: solid;
   border-radius: 10px;
}

#Menu {
   height: 5%;
   width: 99%;
   background-color: #EAF2F8;
   border: 2px solid rgb(87, 128, 155);
   border-radius: 8px;
   margin: 1em auto;
}

#Seccion {
   height: 70%;
   width: 60%;
   background-color: rgb(200, 220, 221);
   margin: 0.5em;
   float: left;
   border: 2px solid;
}

#FueraSeccion {
   height: 70%;
   width: 35%;
   background-color: rgb(200, 220, 221);
   margin: 0.5em;
   float: right;
   border: 2px solid;

}

#pie {
   height: 5%;
   width: auto;
   border-radius: 1em;
   background-color: rgb(53, 21, 21);
   margin: 1.5em;
   text-align: center;
   color: rgb(161, 206, 221);
   font-size: 25px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

/*seletor de clase*/
.texto {
   text-align: justify;
   font-family: tahoma;
   font-size: 20px;
   margin-left: 50px;
   margin-right: 50px;
   margin-top: 5px;
   margin-bottom: 10px;

}

.encabezado_articulo {
   text-align: center;
   font-family: 'Times New Roman', Times, serif;
   font-size: 23px;
   background: rgb(122, 95, 153);
   color: rgb(179, 223, 243);
   margin: auto 2px;
   margin-top: 2px;
}

.imagen {
   display: block;
   border: 1px solid rgb(24, 2, 2);
   margin-left: auto;
   margin-bottom: 5px;
   width: 240px;
   margin-left: auto;

}

/* selector tipo etiqueta*/
ul {
   text-align: center;
}

li {
   display: inline-block;
   padding-left: 65px;
   padding-right: 65px;
   padding-top: 10px;
   font-size: 25px;
}

.listaFS {
   text-decoration: none;
   text-align: center;
   font-size: 30px;
   color: black;
   font
}
body{
   background-color: #E8F6F3 ;
}